<script>
  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();

  export let current
  export let tabs
  let notification = false;

  const onClick = (tab) => {
    // console.log(tab)
    dispatch('change', tab);
  }

  export const updateTab = (tab) => {
    current = tab;
  }

  export const setData = (data) => {
    tabs = data;
  }

  const clickHandler = function() {}
  
</script>
<div class="Tabs">
  {#each tabs as tab}
    <button
      class="Tabs__item {tab.tab === current ? 'Tabs__item--active' : ''} {tab.notMatched ? 'Tabs-item--not-matched' : ''}"
      on:click={() => {
        onClick(tab.tab)
        updateTab(tab.tab)
        } } on:keydown={clickHandler}
    >{tab.title}
  </button>
  {/each}
</div>

<style>
  * {
    box-sizing: border-box;
    font-family: "Arial";
  }

  .Tabs {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .Tabs__item {
    color: #475467;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 12px;
    cursor: pointer;
    transition: all 0.15s;
    border: none;
    background: none;
    
  }
  .Tabs__item:hover {
    background: #F8F6FF;
    border-radius: 6px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }
  .Tabs__item:focus {
    background-color: #EEE9FF;
  }
  .Tabs__item.Tabs__item--active {
    color: #501BE6;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    font-weight: 700;
    position: relative;
  }

  .Tabs__item.Tabs__item--active::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #501BE6;
    position: absolute;
    bottom: -3%;
    left: 0%;
  }

  .Tabs-item--not-matched {
    position: relative;
    padding-right: 24px;
  }
  .Tabs-item--not-matched::before {
    content: " ";
    position: absolute;
    top: 8px;
    right: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #F04438;
  }
</style>
